<nav>
    <h2 class="navheaaad">Poineer Alpha</h2>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
        <i class="fa-solid fa-bars fa-lg"></i>
    </label>
    
    <ul>
        <li><a href="#">Jobs</a></li>
        <li><a href="#">Mock interviews</a></li>
        <li><a href="#">Mentorship</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">CF Holding</a></li>
        <li><button style="width: 90px;padding: 4px 8px;">Login</button ></li>
        
    </ul>
    
</nav>
<section>
    
</section>
<div class="section-one">
    <div class="left">
        <h1 class="leftheading" style="color:  rgb(7, 3, 115);">Welcome to Career</h1>
        <h4  style="color:  rgb(7, 3, 115);">find jobs fro easily working and you can get benefits in the platform job we all our freelancer</h4>
        <input type="text" class="input" placeholder="Type to search">
    </div>
    <div class="right"></div>

</div>
<div class="middle">
   <h1 style="font-size: 40px;">
        We have 25,000 job <br>
        Vaccancies now!
   </h1 >

</div>
<div class="section-two">
    <div class="box">
        <h1 style="font-size: 70px;color:  rgb(7, 3, 115);">1</h1>
        <h2 style="font-size: 30px;color: rgb(63, 60, 60);">Find your job</h2>
        <p style="color: rgb(78, 73, 73);">we always help your bussiness to growth up as soon possible </p>
        <button style="padding: 5px;border: none;border-radius: 7px;background-color:  rgb(7, 3, 115);width: 100px;color: white;">Learn more<i class="fa-solid fa-arrow-right" style="margin-left: 20px;"></i></button>
    </div>
    <div class="box">
        <h1 style="font-size: 70px;color:  rgb(7, 3, 115);">1</h1>
        <h2 style="font-size: 30px;color: rgb(63, 60, 60);">Mock interview</h2>
        <p style="color: rgb(78, 73, 73);">Be creative by making a bussiness to make it soft</p>
        <button style="padding: 5px;border: none;border-radius: 7px;background-color:  rgb(7, 3, 115);width: 100px;color: white;">Learn more</button>
    </div>
    <div class="box">
        <h1 style="font-size: 70px;color:  rgb(7, 3, 115);">1</h1>
        <h2 style="font-size: 30px;color: rgb(63, 60, 60);">CF Holding</h2>
        <p style="color: rgb(78, 73, 73);">Monitor your bussiness for perfomance better than</p>
        <button style="padding: 5px;border: none;border-radius: 7px;background-color:  rgb(7, 3, 115);width: 100px;color: white;">Learn more</button>
    </div>


</div>
<div class="footer" style="width:100%;padding:30px;display:flex;justify-content: center;align-items: center;background-color:rgb(7, 3, 115) ;color: white;">
    <h3>By using this website, you agree to our terms and conditions.</h3>
</div>